{% extends 'base.html' %}

{% block content %}
<section>      
    <div class="row">
        <div class="column">
            <h3>List of selebrities which look like you:</h3>
            {% for item in result %}
            <ol><a href={{item['link']}}>{{item['name']}}</a> : {{item['percent']}} %</ol> 
         
            {% endfor %}
        </div>

        <div class="column">
            <img src="{{url_for('static', filename='img/shocked_emoji.png')}}">
  
        </div>
    </div>
   
</section>
{% endblock %}